@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Variaveis */
:root {
    --cor-preto: #000;
    --cor-cinza: #ddd;
    --cor-branco: #fff;
    --background: #647df9;
    --check: #2db94d;
    --x: #cd3241;
    --one: #14eb6e;
    --two: #e87130;
    --three: #11bcc3;
}